.Navbar{
    height: fit-content;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
}
.Navbar .logo{
    height: 72px;
}
.Navbar .logo img{
    height: 100%;
    width: 72px;
}
.Navbar .menu ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.Navbar .menu ul li{
    cursor: pointer;
}
.Navbar .menu ul li:hover{
    opacity: 0.5;
}